.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.carteiras {
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}

